.search_button {
	display: inline-flex;
	position:relative;
	font-size: 1.3rem;
	height: 62px;
	width: 100px;
	background-color: #731A2B;
	color:  #F2F2F2;
	border-radius: 5px;
	align-items: center;
	cursor: pointer;
	margin-left: 20px;
	padding-left: 20px;
}