.daily-weather{
	max-width: 120px;
	text-align: center;
	background-color: white;
	color: #400A14;
	border-radius: 3px;
	border: 1px solid #400A14;
	padding-top: 5px;
	padding-bottom: 5px;
}

.label{
	text-align: center;
}